<div class="secondary-h1-container">
  <div class="wrapper">
    <h1>3D Design Videos</h1>
  </div>
</div>
<div class="wrapper">
  <section>
    <div class="video-content-img-container">
      <p>{{ section.settings.video_desc }}</p>
      <div class="svg-container">
        <img src="{{ 'computer.svg' | asset_url }}" alt="A computer monitor">
      </div>
    </div>
    <div class="video-container">
      <iframe width="32%" height="400px" src="{{ section.settings.design_video_1 }}">
      </iframe>
      <iframe width="32%" height="400px" src="{{ section.settings.design_video_2 }}">
      </iframe>
      <iframe width="32%" height="400px" src="{{ section.settings.design_video_3 }}">
      </iframe>
    </div>
  </section>
</div>

{% schema %}
  {
    "name": "Design Videos",
    "settings": [
      {
        "type": "header",
        "content": "Design Videos"
      },
      {
        "type": "textarea",
        "id": "video_desc",
        "label": "Design Videos Description"
      },
      {
        "type": "url",
        "id": "design_video_1",
        "label": "Design Video 1 - Link needs /embed in it!"
      },
      {
        "type": "url",
        "id": "design_video_2",
        "label": "Design Video 2 - Link needs /embed in it!"
      },
      {
        "type": "url",
        "id": "design_video_3",
        "label": "Design Video 3 - Link needs /embed in it!"
      }
    ]
  }
{% endschema %}