<footer>
  <div class="wrapper">
    {%- assign footer_linklist = section.settings.footer_linklist -%}
    {% if linklists[footer_linklist].links.size > 0 %}
      <ul>
        {% for link in linklists[footer_linklist].links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
    <div class="img-copyright-container">
      <img src="{{ section.settings.footer_img | img_url: 'master' }}" alt="{{ img.alt }}">
      <p>{{ section.settings.company_copyright }} </p>
    </div>
  </div>
</footer>
  
  {% schema %}
    {
      "name": "Footer",
      "settings": [
        {
          "type": "link_list",
          "id": "footer_linklist",
          "label": "Footer menu",
          "default": "footer"
        },
        {
          "type": "image_picker",
          "id": "footer_img",
          "label": "Company's Logo"
        },
        {
          "type": "text",
          "id": "company_copyright",
          "label": "Company's Copyright"
        }
      ]
    }
  
  {% endschema %}
