{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Header" section in the theme editor.

  Theme Store required settings
  - Show announcement
  - Text: message to announce
  - Link: link of the announcement bar

  Theme Store optional settings
  - Home page only: only shows on the home page
{%- endcomment -%}
<section data-section-id="{{ section.id }}" data-section-type="header">
  <header role="banner">
    <div class="call-to-action">
      <a href="{{ section.settings.call_to_action }}">{{ section.settings.call_to_action_text }}</a>
    </div>
    <nav class="secondary-nav">
      <ul>
        <li><i class="fab fa-envira"></i></li>
        <li>
          <form action="/search" method="get" role="search">
            <i class="fas fa-search"></i>
            <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="Search products...">
          </form>
        </li>
         <li><a class="button" href="/cart"><i class="fas fa-shopping-cart"></i>Cart</a></li>
      </ul>  
    </nav>

    <nav class="primary-nav">
      <div class="wrapper">
        <ul class="primary-ul">
          <li>
            <h1>
              <a href="/">
                <img src="{{ 'logo.png' | asset_url }}" alt="Verbeek's Farm and Garden Centre">
              </a>
            </h1>
          </li>
          {%- for link in linklists.main-menu.links -%}
                <li class="primary">
                  <a href="{{ link.url }}" {% if link.active %}aria-current="page"{% endif %}>
                    {{ link.title }}
                  </a>

                  {%- if link.links != blank -%}
                    <ul class="dropdown-ul">
                      {%- for child_link in link.links -%}
                        <li>
                          <a href="{{ child_link.url }}" {% if child_link.active %}aria-current="page"{% endif %}>
                            {{ child_link.title }}
                          </a>

                          {%- if child_link.links != blank -%}
                            <ul class="dropdown-ul-2">
                              {%- for grandchild_link in child_link.links -%}
                                <li>
                                  <a href="{{ grandchild_link.url }}" {% if grandchild_link.active %}aria-current="page"{% endif %}>
                                    {{ grandchild_link.title }}
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          {%- endif -%}

                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}

                </li>
              {%- endfor -%}
        </ul>
      </div>
    </nav>
  </header>
</section>
  
{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "url",
        "id": "call_to_action",
        "label": "Call To Action Link"
      },
      {
        "type": "text",
        "id": "call_to_action_text",
        "label": "Call To Action Text"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}

          <!-- {
          "type": "header",
          "content": "Announcement bar"
          },
          {
          "type": "checkbox",
          "id": "announcement_bar_enabled",
          "label": "Show announcement",
          "default": false
          },
          {
          "type": "checkbox",
          "id": "announcement_bar_home_page_only",
          "label": "Show on home page only",
          "default": true
          },
          {
          "type": "text",
          "id": "announcement_bar_text",
          "label": "Announcement text",
          "default": "Announce something here"
          },
          {
          "type": "url",
          "id": "announcement_bar_link",
          "label": "Announcement link",
          "info": "Optional"
          },
   -->
  