{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Header" section in the theme editor.

  Theme Store required settings
  - Show announcement
  - Text: message to announce
  - Link: link of the announcement bar

  Theme Store optional settings
  - Home page only: only shows on the home page
{%- endcomment -%}
<section data-section-id="{{ section.id }}" data-section-type="header">

    <header role="banner">
    <nav class="secondary-nav">
      <ul>
        {% for link in linklists.secondary-menu.links %}
            {% assign child_list_handle = link.title | handleize %}
            {% if linklists[child_list_handle].links != blank %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                [{% for childlink in linklists[child_list_handle].links %}
                    <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                {% endfor %}]
            {% elsif link.url contains "search" %}
              <li><a class="button" href="{{ link.url }}"><i class="fas fa-search"></i>{{ link.title }}</a></li>
            {% else %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endif %}
        {% endfor %}
         <li><a class="button" href="/cart"><i class="fas fa-shopping-cart"></i>Cart</a></li>
      </ul>  
    </nav>

    <nav class="primary-nav">
      <div class="wrapper">
        <ul>
          <li>
            {% if template.name == 'index' %}
                <h1>
            {% else %}
                <div class="h1">
            {% endif %}
              <a href="/" class="logo-image">
                {% if section.settings.logo != blank %}
                  {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
                  <img src="{{ section.settings.logo | img_url: image_size }}"
                      srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                      alt="{{ section.settings.logo.alt | default: shop.name }}">
                {% else %}
                  {{ shop.name }}
                {% endif %}
              </a>
            {% if template.name == 'index' %}
                </h1>
            {% else %}
                </div>
            {% endif %}
          </li>
        {% for link in linklists.main-menu.links %}
            {% assign child_list_handle = link.title | handleize %}
            {% if linklists[child_list_handle].links != blank %}
            <a href="{{ link.url }}">{{ link.title }}</a>
                [{% for childlink in linklists[child_list_handle].links %}
                    <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                {% endfor %}]
            {% elsif link.url contains "home" %}
              <li><h1 class="sr-only">Verbeek's Farm and Garden Centre</h1><img src="{{section.settings.logo}}" alt=""></li>
            {% else %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
      </div>
    </nav>
        
<!--     
        {% if shop.customer_accounts_enabled %}
            {% if customer %}
            <a href="/account">account</a>
            {{ 'log out'  | customer_logout_link }}
            {% else %}
            {{ 'log in ' | customer_login_link }}
            {{ 'register' | customer_register_link }}
            {% endif %}
        {% endif %} -->

        <!-- plane jane image -->
      
      
    </header>
  </section>
  
  {% schema %}
    {
      "name": "Header",
      "settings": [
        {
          "type": "header",
          "content": "Header"
        },
        {
          "type": "link_list",
          "id": "secondary",
          "label": "Secondary menu"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "default": "main-menu"
        },
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Company's logo"
        }
      ]
    }
  {% endschema %}

          <!-- {
          "type": "header",
          "content": "Announcement bar"
          },
          {
          "type": "checkbox",
          "id": "announcement_bar_enabled",
          "label": "Show announcement",
          "default": false
          },
          {
          "type": "checkbox",
          "id": "announcement_bar_home_page_only",
          "label": "Show on home page only",
          "default": true
          },
          {
          "type": "text",
          "id": "announcement_bar_text",
          "label": "Announcement text",
          "default": "Announce something here"
          },
          {
          "type": "url",
          "id": "announcement_bar_link",
          "label": "Announcement link",
          "info": "Optional"
          },
   -->
  