<div class="h1-container">
  <div class="wrapper">
    <h1>{{ section.settings.home_heading }}</h1>
  </div>
</div>
<div class="wrapper">
  <section class="home-products-container">
    {%- assign collection = collections[section.settings.home_collection] -%}

    {% for product in collection.products limit:8 %}
      <div class="product-container">
        <a class="product-img" href="{{ product.url }}"><img src="{{ product.featured_image | img_url: 'master'}}" alt="{{ product.title}}"></a>
        <h2>{{ product.title }}</h2>
        <div class="product-button-container">
          <p>{{ product.price | money}}</p>
          <a href="{{ product.url }}" class="button-reverse product-button"><i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
    {% endfor %}

  </section>
</div>


{% schema %}
  {
    "name": "Home Products",
    "settings": [
      {
        "type": "text",
        "id": "home_heading",
        "label": "Home Products Collection Heading",
        "default": "Popular"
      },
      {
        "id": "home_collection",
        "type": "collection",
        "label": "Home Products Collection"
      }
    ],
    "presets": [
      {
        "name": "Home Products",
        "category": "Products"
      }
    ]
  }
{% endschema %}
