{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add the "Image with text" section in the theme editor.

  Theme Store required settings
  - Image
  - Heading: title of the block
  - Text: description of the block

  Theme Store optional settings
  - Button label: label associated with the button
  - Button link: link of the button
{%- endcomment -%}


<section class="image-text-section">
  <div class="wrapper">
    <div class="image-text-container">
      <div class="text-container">
        <h2>{{ section.settings.title }}</h2>
        <p>{{ section.settings.text }}</p>
        <a class="button-reverse" href="{{ section.settings.button_link }} ">{{ section.settings.button_label }}</a>
      </div>
      <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{ img.alt }}" loading="lazy">
    </div>
  </div>
</section>
  
  {% schema %}
    {
      "name": "Image with text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Image with text"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default": "Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review."
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ],
      "presets": [
        {
          "name": "Image with text",
          "category": "Image"
        }
      ]
    }
  {% endschema %}
