<div class="h1-container">
  <div class="wrapper">
    <h1>{{page.title}}</h1>
  </div>
</div>
<div class="wrapper">
  <section class="content-img-container">
    <div class="content">
      {{ page.content }}
    </div>
    <div class="heading-img-container">
      <h2>{{ section.settings.landscape_heading }}</h2>
      <img src="{{ section.settings.landscape_header | img_url: 'master' }}"
        alt="{{ img.alt }}">
    </div>
  </section>
</div>
<div class="secondary-h1-container">
  <div class="wrapper">
    <h1>{{ section.settings.icon_header }}</h1>
  </div>
</div>
<div class="wrapper">
  <section class="three-icon-container landscape-icon-container">
    <div class="icon-container">
      <div class="svg-container">
        <img src="{{ 'brick-wall.svg' | asset_url }}" alt="Brick Wall">
      </div>
      <h2> {{section.settings.heading_1 }}</h2>
      <p class="landscape-p">{{ section.settings.landscape_design_header }}</p>
    </div>
    <div class="icon-container">
      <div class="svg-container">
        <img src="{{ 'growth.svg' | asset_url }}" alt="Three Flowers">
      </div>
      <h2> {{section.settings.heading_2 }}</h2>
      <p class="landscape-p">{{ section.settings.landscape_garden_header }}</p>
    </div>
    <div class="icon-container">
      <div class="svg-container">
        <img src="{{ 'house.svg' | asset_url }}" alt="A Home">
      </div>
      <h2> {{section.settings.heading_3 }}</h2>
      <p class="landscape-p">{{ section.settings.landscape_lawn_header }}</p>
    </div>
  </section>
</div>
<nav class="landscape-nav">
  <ul>
    <li><button title="View Design photos" aria-label="View Design photos"class="active" id="design">Design<i class="fab fa-envira"></i></button></li>
    <li><button title="View Garden photos" aria-label="View Garden photos"id="garden">Gardens<i class="fab fa-envira"></i></button></li>
    <li><button title="View Lawn photos" aria-label="View Lawn photos"id="lawn">Lawn<i class="fab fa-envira"></i></button></li>
  </ul>
</nav>

{% schema %}
  {
    "name": "Landscaping Main",
    "settings": [
      {
        "type": "header",
        "content": "Landscaping Main"
      },
      {
        "type": "text",
        "id": "landscape_heading",
        "label": "Landscaping Heading",
        "default": "Trusted Professionals"
      },
      {
        "type": "image_picker",
        "id": "landscape_header",
        "label": "Landscaping Header Image"
      },
      {
        "type": "text",
        "id": "icon_header",
        "label": "Icons Header"
      },
      {
        "type": "textarea",
        "id": "landscape_design_header",
        "label": "Landscaping Design About"
      },
      {
        "type": "text",
        "id": "heading_1",
        "label": "Design Heading"
      },
      {
        "type": "textarea",
        "id": "landscape_garden_header",
        "label": "Landscaping Garden About"
      },
      {
        "type": "text",
        "id": "heading_2",
        "label": "Gardens Heading"
      },
      {
        "type": "textarea",
        "id": "landscape_lawn_header",
        "label": "Landscaping Lawn About"
      },
      {
        "type": "text",
        "id": "heading_3",
        "label": "Lawn Heading"
      }
    ]
  }
{% endschema %}