 <div class="wrapper">
  <section class="landscape design">
    <div class="landscape-img-container">
      <figure>
        <img src="{{ section.settings.landscape_design_1 | img_url: 'master' }}" alt="{{ img.alt }}">
        <figcaption>{{ section.settings.landscape_design_1_heading }}</figcaption>
      </figure>
      <figure>
        <img src="{{ section.settings.landscape_design_2 | img_url: 'master' }}" alt="{{ img.alt }}">
        <figcaption>{{ section.settings.landscape_design_2_heading }}</figcaption>
      </figure>
      <figure>
        <img src="{{ section.settings.landscape_design_3 | img_url: 'master' }}" alt="{{ img.alt }}">
        <figcaption>{{ section.settings.landscape_design_3_heading }}</figcaption>
      </figure>
      <figure>
        <img src="{{ section.settings.landscape_design_4 | img_url: 'master' }}" alt="{{ img.alt }}">
        <figcaption>{{ section.settings.landscape_design_4_heading }}</figcaption>
      </figure>
      <figure>
        <img src="{{ section.settings.landscape_design_5 | img_url: 'master' }}" alt="{{ img.alt }}">
        <figcaption>{{ section.settings.landscape_design_5_heading }}</figcaption>
      </figure>
      <figure>
        <img src="{{ section.settings.landscape_design_6 | img_url: 'master' }}" alt="{{ img.alt }}">
        <figcaption>{{ section.settings.landscape_design_6_heading }}</figcaption>
      </figure>
    </div>
  </section>

  <section class="landscape garden" hidden>
    <div class="landscape-img-container">
      <figure>
        <img src="{{ section.settings.landscape_garden_1 | img_url: 'master' }}"
          alt="{{ img.alt }}">
        <figcaption>{{ section.settings.landscape_garden_1_heading }}</figcaption>
      </figure>
      <figure>
        <img src="{{ section.settings.landscape_garden_2 | img_url: 'master' }}"
          alt="{{ img.alt }}">
        <figcaption>{{ section.settings.landscape_garden_2_heading }}</figcaption>
      </figure>
      <figure>
        <img src="{{ section.settings.landscape_garden_3 | img_url: 'master' }}"
          alt="{{ img.alt }}">
        <figcaption>{{ section.settings.landscape_garden_3_heading }}</figcaption>
      </figure>
      <figure>
        <img src="{{ section.settings.landscape_garden_4 | img_url: 'master' }}"
          alt="{{ img.alt }}">
        <figcaption>{{ section.settings.landscape_garden_4_heading }}</figcaption>
      </figure>
      <figure>
        <img src="{{ section.settings.landscape_design_5 | img_url: 'master' }}"
          alt="{{ img.alt }}">
        <figcaption>{{ section.settings.landscape_garden_5_heading }}</figcaption>
      </figure>
      <figure>
        <img src="{{ section.settings.landscape_garden_6 | img_url: 'master' }}"
          alt="{{ img.alt }}">
        <figcaption>{{ section.settings.landscape_garden_6_heading }}</figcaption>
      </figure>
    </div>
  </section>

  <section class="landscape lawn" hidden>
    <div class="landscape-img-container">
      <figure>
        <img src="{{ section.settings.landscape_lawn_1 | img_url: 'master' }}"
          alt="{{ img.alt }}">
        <figcaption>{{ section.settings.landscape_lawn_1_heading }}</figcaption>
      </figure>
      <figure>
        <img src="{{ section.settings.landscape_lawn_2 | img_url: 'master' }}"
          alt="{{ img.alt }}">
        <figcaption>{{ section.settings.landscape_lawn_2_heading }}</figcaption>
      </figure>
      <figure>
        <img src="{{ section.settings.landscape_lawn_3 | img_url: 'master' }}"
          alt="{{ img.alt }}">
        <figcaption>{{ section.settings.landscape_lawn_3_heading }}</figcaption>
      </figure>
    </div>
  </section>
</div>
 
 {% schema %}
    {
      "name": "Landscaping Pictures",
      "settings": [

        // Design

        {
          "type": "header",
          "content": "Landscaping Design"
        },
        {
          "type": "image_picker",
          "id": "landscape_design_1",
          "label": "Landscaping Design Image 1"
        },
        {
          "type": "text",
          "id": "landscape_design_1_heading",
          "label": "Landscaping Design Image 1 Heading"
        },
        {
          "type": "image_picker",
          "id": "landscape_design_2",
          "label": "Landscaping Design Image 2"
        },
        {
          "type": "text",
          "id": "landscape_design_2_heading",
          "label": "Landscaping Design Image 2 Heading"
        },
        {
          "type": "image_picker",
          "id": "landscape_design_3",
          "label": "Landscaping Design Image 3"
        },
        {
          "type": "text",
          "id": "landscape_design_3_heading",
          "label": "Landscaping Design Image 3 Heading"
        },
        {
          "type": "image_picker",
          "id": "landscape_design_4",
          "label": "Landscaping Design Image 4"
        },
        {
          "type": "text",
          "id": "landscape_design_4_heading",
          "label": "Landscaping Design Image 4 Heading"
        },
        {
          "type": "image_picker",
          "id": "landscape_design_5",
          "label": "Landscaping Design Image 5"
        },
        {
          "type": "text",
          "id": "landscape_design_5_heading",
          "label": "Landscaping Design Image 5 Heading"
        },
        {
          "type": "image_picker",
          "id": "landscape_design_6",
          "label": "Landscaping Design Image 6"
        },
        {
          "type": "text",
          "id": "landscape_design_6_heading",
          "label": "Landscaping Design Image 6 Heading"
        },

        // Gardens

        {   
          "type": "header",
          "content": "Landscaping Garden"
        },
        {
          "type": "image_picker",
          "id": "landscape_garden_1",
          "label": "Landscaping Garden Image 1"
        },
        {
          "type": "text",
          "id": "landscape_garden_1_heading",
          "label": "Landscaping Garden Image 1 Heading"
        },
        {
          "type": "image_picker",
          "id": "landscape_garden_2",
          "label": "Landscaping Garden Image 2"
        },
        {
          "type": "text",
          "id": "landscape_garden_2_heading",
          "label": "Landscaping Garden Image 2 Heading"
        },
        {
          "type": "image_picker",
          "id": "landscape_garden_3",
          "label": "Landscaping Garden Image 3"
        },
        {
          "type": "text",
          "id": "landscape_garden_3_heading",
          "label": "Landscaping Garden Image 3 Heading"
        },
        {
          "type": "image_picker",
          "id": "landscape_garden_4",
          "label": "Landscaping Garden Image 4"
        },
        {
          "type": "text",
          "id": "landscape_garden_4_heading",
          "label": "Landscaping Garden Image 4 Heading"
        },
        {
          "type": "image_picker",
          "id": "landscape_garden_5",
          "label": "Landscaping Garden Image 5"
        },
        {
          "type": "text",
          "id": "landscape_garden_5_heading",
          "label": "Landscaping Garden Image 5 Heading"
        },
        {
          "type": "image_picker",
          "id": "landscape_garden_6",
          "label": "Landscaping Garden Image 6"
        },
        {
          "type": "text",
          "id": "landscape_garden_6_heading",
          "label": "Landscaping Garden Image 6 Heading"
        },

        // Lawns

        {
          "type": "header",
          "content": "Landscaping Lawns"
        },
        {
          "type": "image_picker",
          "id": "landscape_lawn_1",
          "label": "Landscaping Lawn Image 1"
        },
        {
          "type": "text",
          "id": "landscape_lawn_1_heading",
          "label": "Landscaping Lawn Image 1 Heading"
        },
        {
          "type": "image_picker",
          "id": "landscape_lawn_2",
          "label": "Landscaping Lawn Image 2"
        },
        {
          "type": "text",
          "id": "landscape_lawn_2_heading",
          "label": "Landscaping Lawn Image 2 Heading"
        },
        {
          "type": "image_picker",
          "id": "landscape_lawn_3",
          "label": "Landscaping Lawn Image 3"
        },
        {
          "type": "text",
          "id": "landscape_lawn_3_heading",
          "label": "Landscaping Lawn Image 3 Heading"
        }
      ]
    }
  {% endschema %}