<div class="wrapper">
  <h2 class="product-collection-h2">{{ section.settings.collection_heading }} </h2>
  <section class="home-products-container">
    {%- assign collection = collections[section.settings.home_collection] -%}

    {% for product in collection.products limit:3 %}
      <div class="product-container">
        <a class="product-img" href="{{ product.url }}"><img src="{{ product.featured_image | img_url: 'master'}}" alt="{{ product.title}}"></a>
        {% unless product.available %}<p class="sold-out">Sold Out!</p>{% endunless %}
        <h2>{{ product.title }}</h2>
        <div class="product-button-container">
          <p>{{ product.price | money}} CAD</p>
          <a href="{{ product.url }}" class="button-reverse product-button"><i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
    {% endfor %}
    <div class="view-more">
      <img class="product-img" src="{{ collection.image | img_url: 'master'}}" alt="{{ img.alt }}" />
      <div class="view-more-content">
        <h2>{{ collection.all_products_count }} Total</h2>
        <a href="{{ product.url }}" class="button-reverse product-button">View More</a>
      </div>
    </div>

  </section>
</div>


{% schema %}
  {
    "name": "Home Products",
    "settings": [
      {
        "type": "text",
        "id": "collection_heading",
        "label": "Collections Heading",
        "default": "Collection Name"
      },
      {
        "id": "home_collection",
        "type": "collection",
        "label": "Home Products Collection"
      }
    ],
    "presets": [
      {
        "name": "Collection Results",
        "category": "Products"
      }
    ]
  }
{% endschema %}