{% if cart.item_count > 0 %}
<div class="h1-container">
  <div class="wrapper">
    <p class="special-p">Your Cart</p>
  </div>
</div>
<div class="wrapper">
  {% if cart.item_count == 1 %}
  <h2 class="cart-h2">{{ cart.item_count }} Item</h2>
  {% else %}
  <h2 class="cart-h2">{{ cart.item_count }} Items</h2>
  {% endif %}
  <form action="/cart" method="post" novalidate>
      <div class="cart-container">
        {% for item in cart.items %}
        <div class="item">
            <a title="View {{ item.title }}" class="product-img" href="{{ item.url | within: collections.all }}">
              <img src="{{ item | img_url: 'master' }}" alt="{{ item.title | escape }}" loading="lazy">
            </a>
            <a title="Remove {{ item.title }}" aria-label="Remove {{ item.title }}"class="button-reverse product-button sold-out" href="/cart/change?line={{ forloop.index }}&amp;quantity=0"><i class="fas fa-times"></i></a>
            <h3> 
              <span class='quantity'>{{ item.quantity }}</span>
              x {{ item.product.title }}
            </h3>
            <div class="total-variant-container">
              <p>{{ item.line_price | money }} CAD</p>
              {% if item.product.variants.size > 1 %}
              <p>{{ item.variant.title }}</p>
              {% endif %}
            </div>
            <div class="quantity-update-container">
              <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0" max="100">
              <button class="button-reverse" type="submit" name="update">Update</button>
            </div>
          </div>
        {% endfor %}
        <div class="item item-checkout">
          <div class="checkout-content">
            <p>Sub Total: {{ cart.total_price | money }} CAD</p>
            <button class="button-reverse" type="submit" name="checkout">Checkout<i class="far fa-credit-card"></i></button>
          </div>
        </div>
      </div>
  </form>
{% else %}
  <div class="h1-container">
    <div class="wrapper">
      <p class="special-p">Your Cart is Empty</p>
    </div>
  </div>
  <div class="wrapper">
    <div class="no-products-container">
      <p>View our <a href="/collections/all-products">products</a> or head on <a href="/">home</a>!</p>
    </div>
  </div>
  {% section 'banner-collection' %}
{% endif %}
