{% if cart.item_count > 0 %}
<div class="h1-container">
  <div class="wrapper">
    <p class="special-p">Your Cart</p>
  </div>
</div>
<div class="wrapper">
  {% if cart.item_count == 1 %}
  <h2 class="cart-h2">{{ cart.item_count }} Item</h2>
  {% else %}
  <h2 class="cart-h2">{{ cart.item_count }} Items</h2>
  {% endif %}
</div>
  <form action="/cart" method="post" novalidate>
    <div class="wrapper">
      <div class="cart-container">
        {% for item in cart.items %}
        <div class="item">
            <a class="product-img" href="{{ item.url | within: collections.all }}">
              <img src="{{ item | img_url: 'master' }}" alt="{{ item.title | escape }}">
            </a>
            <h3>{{ item.product.title }}</h3>
            <div class="total-remove-container">
              <p class="total-price">{{ item.line_price | money }} CAD</p>
              <a class="button-reverse" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">Remove</a>
            </div>
            <div class="quantity-update-container">
              <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
              <button class="button-reverse" type="submit" name="update">Update</button>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="total-checkout-container">
      <p>Sub Total: {{ cart.total_price | money }} CAD</p>
      <button class="button-reverse" type="submit" name="checkout">Checkout</button>
    </div>
  </form>
{% else %}
  <div class="h1-container">
    <div class="wrapper">
      <p class="special-p">Your Cart is Empty</p>
    </div>
  </div>
  <div class="wrapper">
    <div class="no-products-container">
      <p>View our <a href="/collections/all">products</a> or head on <a href="/">home</a>!</p>
    </div>
  </div>
  {% section 'banner-collection' %}
{% endif %}
