{% paginate collection.products by 9 %}

  <div class="h1-container">
    <div class="wrapper">
      <h1>{{ collection.title}}</h1>
    </div>
  </div>

  {% if collection.all_products_count != 0 %}
  <div class="wrapper">
    {% render 'breadcrumbs' %}
    <div class="collections-products-container">
      {% section 'sidebar' %}
      <div class="products-sort-container">
        {% render 'sort-by' %}
        <div class="three-products-container">
        {% for product in collection.products %}

          <div class="product-container">
            <a class="product-img" href="{{ product.url }}"><img src="{{ product.featured_image | img_url: 'master'}}"
                alt="{{ product.title}}"></a>
            {% unless product.available %}<p class="sold-out">Sold Out!</p>{% endunless %}
            <h2>{{ product.title }}</h2>
            <div class="product-button-container">
              <p>{{ product.price | money}} CAD</p>
              <a href="{{ product.url }}" class="button-reverse product-button"><i class="fas fa-arrow-right"></i></a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

    {% else %}

      <div class="wrapper">
        <section class="container-404">
          <h2>We don't have any items in that collection right now. <a href="/pages/contact">Message us,</a> we may have it in store.</h2>
          <img src="{{ 'store-front.jpeg' | asset_url }}" alt="{{ img.alt }}">
        </section>
      </div>
      
    {% endif %}

{% if paginate.pages > 1 %}
  <div class="wrapper paginate-three-product">
    <div class="paginate-container paginate-container-three">
        {{ paginate | default_pagination }}
      {% endif %}
    </div>
  </div>
{% endpaginate %}
