<div class="h1-container">
  <div class="wrapper">
    <h1>{{page.title}}</h1>
  </div>
</div>
<div class="wrapper">
  <section class="text-img-container">
    <div class="text-container">
      <div class="content">
        {{ page.content }}
      </div>
      {% section 'button' %}
    </div>
    <!-- <img src="{{ block.settings.image_id | img_url: 'master' }}" alt="{{ img.alt }}">  -->
    <img src="{{ page.image | img_url: 'master' }}" alt="{{ img.alt }}"> 
  </section>
</div>